<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>Random Lab Pair</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<!-- begin inner template -->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template -->
</body>
</html>
